<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="/assets/js/config.js"></script>

    <!-- App css -->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- Icons css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-light bg-white  navbar-expand-md">
        <div class="container">
           <a class="navbar-brand" href="#">
           <img src="/assets/images/logo.png" height="55" alt="image">
           </a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNav3">
              <ul class="navbar-nav ms-auto">
                 <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                 </li>
                 
                 <li class="nav-item">
                      <a class="btn btn-success ms-md-3" href="/signin">SIgn In</a>
                 </li>
              </ul>

           </div>
        </div>
     </nav>


    <section class="jumbotron py-5">
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="px-4 py-5 my-5 text-center">
                    <img class="d-block mx-auto mb-4" src="/assets/images/logo.png" alt=""
                        width="72" height="72">
                    <h1 class="display-5 fw-bold">MMSU ETEEAP</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="lead mb-4">
                            Accelerate your accreditation process with our streamlined, mobile-first application system using Bootstrap. Harness the power of the world’s most popular front-end toolkit, featuring customizable Sass variables, a responsive grid system, and an extensive range of prebuilt components. Experience quick and efficient application management with our robust JavaScript plugins, designed to make your accreditation journey faster and more efficient.
                        </p>
                        
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <footer class="pt-4 pb-4 ">
            <div class="container">
                <div class="row text-center align-items-center">
                  
                   
                    2024 © Accreditation
                    
                </div>
            </div>
        </footer>
    </section>
</body>

</html>